/* Base.scss */

body {
    background-color: $background-color;
    //box-sizing: border-box;
    color: $color;
    @include body-font-light;
    font-size: $base-font-size;
    //margin: 0 auto;
    //max-width: 600px;
    //padding: 0 10px;
    //width: 100%;
}

@media screen and (min-width: 800px) {
    body {
        color: pink;    
    }
    .cafe h1, .food h1, .attraction h1,
    .cafe h2, .food h2, .attraction h2 {
        font-size: em(70px);
    }
}


h1, h2, h3 {
    @include headline-font;
    line-height: 1;
    overflow: hidden;
}

img {
    max-width: 100%;
}

a {
    transition: color 300ms linear;
    &:hover {
        transition: color 300ms linear;
    }
}